<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Synergy: Master App Test Page">
<meta name="author" content="AS">
<!-- <link rel="icon" href="/img/favicon.png"> -->

<title>Synergy: Master App Test Page</title>

<link rel="stylesheet" href="/css/styles.css">
